@model IEnumerable<YourCourses.Models.Course>

@{
    ViewBag.Title = "Index";
}<br><br><br>
<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/style.css">


<h2 class = "animated bounceInLeft">Creating course</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class= "btn btn-success animated bounceInLeft" })
</p>
<table class="table table-bordered animated zoomIn">
    <tr>
        <th class="success">
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th class="success">
            @Html.DisplayNameFor(model => model.CourseInfo)
        </th>
        <th class="success">
            @Html.DisplayNameFor(model => model.DateOfCourseCreation)
        </th>
        <th class="active"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCourseCreation)
        </td>
        <td>
            <div class="btn-group-vertical">
                @*@Html.ActionLink("Edit", "Edit", new { id=item.CourseId }, new { @class = "btn btn-primary" }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.CourseId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }, new { @class = "btn btn-danger" })
</div>
</td>
    </tr>
}

</table>
