@model IEnumerable<YourCourses.Models.Practice>

@{
    ViewBag.Title = "Index";
}<br><br><br>
<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/style.css">

<h2 class = "animated bounceInLeft">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success animated bounceInLeft" })
</p>
<table class="table table-bordered animated zoomIn ">
    <tr>
        <th class="success">
            @Html.DisplayNameFor(model => model.Sublectures.ArtistId)
        </th>
        <th class="success">
            @Html.DisplayNameFor(model => model.PracticeName)
        </th>
        <th class="success">
            @Html.DisplayNameFor(model => model.PracticeUserInput)
        </th>
        <th class="success">
            @Html.DisplayNameFor(model => model.FirstPart)
        </th>
        <th class="success">
            @Html.DisplayNameFor(model => model.TestsPart)
        </th>
        <th class="success">
            @Html.DisplayNameFor(model => model.SecondPart)
        </th>
        <th class="active"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sublectures.ArtistId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PracticeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PracticeUserInput)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstPart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestsPart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondPart)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PracticeId }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Details", "Details", new { id=item.PracticeId }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.PracticeId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
