@model PagedList.IPagedList<YourCourses.Models.PracticeAndUserMark>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/style.css">


<br><br><br>
<h2>Данные по оценкам</h2>

@using (Html.BeginForm("Index", "PracticeAndUserMarks", new { @class = "form-control" }))
{
    <div class="search">
        <input type="search"  name="q" placeholder="Поиск..." value="@ViewBag.SStr">
        <input type="submit" value=">">
    </div>
}
<br>
<table class="table table-bordered animated zoomIn">
    <tr>
        <th class="success">
            @Html.Label("Имя пользователя")
        </th>
        <th class="success">
            @Html.Label("Оценка по пятибальной системе")
        </th>
        <th class="success">
            @Html.Label("Название практики")
        </th>
       
        
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(Model => item.Artist.UserName)
            </td>
            <td>
                @Html.DisplayFor(Model => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(Model => item.Practice.PracticeName)
            </td>
            
           
        </tr>
    }

</table>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<style>
    .search {
        width: 300px; /* Ширина поля с кнопкой */
        border: 1px solid #000; /* Параметры рамки */
        min-height: 20px; /* Минимальная высота */
    }

    input[type="search"] {
        border: none; /* Убираем рамку */
        outline: none; /* Убираем свечение в Chrome и Safari */
        -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
        width: 274px; /* Ширина поля */
        vertical-align: middle; /* Выравнивание по середине */
    }

    input[type="submit"] {
        width: 20px; /* Ширина кнопки */
        height: 30px; /* Высота кнопки */
        border: none; /* Убираем рамку */
        background-color: burlywood; /* Параметры фона */
    }
    li {
        float: left;
        border-right: 0px solid #bbb;
    }

        li:last-child {
            border-right: none;
        }

        li a {
            display: block;
            color: Black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover:not(.active) {
                background-color: #4CAF50;
            }

    .active {
        background-color: #4CAF50;
    }

    .search {
        width: 300px; /* Ширина поля с кнопкой */
        border: 1px solid #000; /* Параметры рамки */
        min-height: 20px; /* Минимальная высота */
    }

    input[type="search"] {
        border: none; /* Убираем рамку */
        outline: none; /* Убираем свечение в Chrome и Safari */
        -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
        width: 274px; /* Ширина поля */
        vertical-align: middle; /* Выравнивание по середине */
    }

    input[type="submit"] {
        width: 20px; /* Ширина кнопки */
        height: 30px; /* Высота кнопки */
        border: none; /* Убираем рамку */
        background-color: burlywood; /* Параметры фона */
    }
</style>