@model YourCourses.FiddleExecuteModel
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- template from http://getbootstrap.com/getting-started -->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Test Template</title>

    <!-- CSS Includes -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    
    <script src="~/Scripts/codemirror-2.37/lib/codemirror.js"></script>
    <script src="~/Scripts/codemirror-2.37/mode/clike/clike.js" type="text/javascript"></script>
    <link href="~/Scripts/codemirror-2.37/lib/codemirror.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/codemirror-2.37/theme/lesser-dark.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Scripts/codemirror-2.37/lib/util/simple-hint.css">
    <link rel="stylesheet" href="~/Scripts/codemirror-2.37/lib/util/simple-hint.js">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Scripts/bootstrap.min.js">
    <style type="text/css">
        .field-validation-error {
            color: #ff0000;
        }

        .CodeMirror-scroll {
            height: auto;
            overflow-y: hidden;
            overflow-x: auto;
        }
        .box {
            width: 100%;
            margin: 5px auto;
            position: relative;
            background: #ffffff;
            padding: 5px;
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <button type="button" class="btn btn-default btn-lg btn-block animated zoomInUp" onclick="location.href='@Url.Action("Index", "CoursesList")'">Вернуться на страницу выбора курсов</button>
    <div class="container ">
        <div>
            <h1 class="animated zoomInUp">Прочтите задание и приступайте к выполнению</h1>
            @*Добавить вывод случайной практики из форич, а не первой(как сейчас)*@
            @using (Html.BeginForm())
            {


                <div class="form-group animated zoomInUp">
                    <div class="box">
                        @Html.Raw(Session["TEXT"].ToString()) </div>
                        @Html.TextArea("FirstPart", (string)Session["FP"])
                        @Html.Hidden("TEST", (string)Session["TEST"])
                        @*@Html.LabelFor(m => m.CodeBlock)*@
                        @Html.TextAreaFor(model => model.CodeBlock, new { @editable = true, @class = "form-control", rows = 20 })
                        @Html.TextArea("LastPart", (string)Session["LP"])
                    </div>
                    <div class="box" style="background-color:burlywood; color:black">
                        <p class="animated zoomInUp">Ограничение ввода: не более сотни вызовов в час с текущего IP</p>
                        </div>
                        <div id="results5">Текущая оценка составляет <br><b><h3>@Session["mark"] балла(ов)</h3></b></div>

                        <button type="button" class="btn btn-success submit animated zoomInUp" data-toggle="modal" data-target="#myModal">Execute</button>

                        if (User.IsInRole("admin")) {
                        <button type="button" class="btn btn-warning animated zoomInUp" data-toggle="modal" data-target="#myModal1">Показать ответы</button>
                        }
                        }

                        <div class="modal fade" id="myModal1" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Решение задачи </h4>
                                    </div>
                                    <div class="modal-body">

                                        @Html.TextArea("ANS", (string)Session["ans"], 22, 50, new { @readonly = true })

                                        <script>




                                        </script>
                                        @*<div class="alert alert-warning fade">
                                        <strong>@Session["ans"]</strong>
                                        @Session["ans"]
                                    </div>*@


                                    </div>
                                    <div class="modal-footer">

                                        @*<button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>*@
                                    </div>
                                </div>
                                @*@Ajax.ActionLink("Обновить оценку", "UpdateMark", new { id = (int)Session["CurrentPractId"] },
                            new AjaxOptions { UpdateTargetId = "results5" })*@

                                @*<div class="alert alert-warning fade">
                                <strong><span class="alert-content"></span></strong>
                            </div>*@
                            </div>
                        </div>



                        <br /><br />
                        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">

                                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                        <h4 class="modal-title">Результат выполнения программы </h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            <div class="alert alert-warning fade">
                                                <strong><span class="alert-content"></span></strong>
                                            </div>

                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        @Ajax.ActionLink("Учесть результаты ", "Close",
                               new { id = (int)Session["CurrentPractId"] },
                             new AjaxOptions { UpdateTargetId = "results5" },
                            new { @class = "btn btn-success btn-lg ", @data_dismiss = "modal" })
                                        @*<button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>*@
                                    </div>
                                </div>
                                @*@Ajax.ActionLink("Обновить оценку", "UpdateMark", new { id = (int)Session["CurrentPractId"] },
                            new AjaxOptions { UpdateTargetId = "results5" })*@

                                @*<div class="alert alert-warning fade">
                                <strong><span class="alert-content"></span></strong>
                            </div>*@
                            </div>
                        </div>

                        @*@Ajax.ActionLink("Обновить оценку ", "UpdateMark",
                           new { id = (int)Session["CurrentPractId"] },
                           new AjaxOptions { UpdateTargetId = "results5"},
                    new { @class = "btn btn-default btn-lg " })*@

                        <!-- JS includes -->
                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

                        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
                        <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

                        <script type="text/javascript">

        var myValue = $('#' + '@(ViewBag.text)').val();

			function openAlert(txt) {
				$('.alert-content').html(txt);
				$('.alert').addClass('in');
			}

			function closeAlert() {
				$('.alert').removeClass('in');
			}

			$(function(){

				$('.submit').click(function(){
			console.log('yo');
					if($('form').valid()) {
                        text = editor.getValue();
						$.ajax({
                            url: '@Url.RouteUrl(new{ action="Execute", controller="Execute"})',
                            data: { code: text },
                    type: 'POST',
                    success: function (resp) {
                        openAlert(resp);
                    }
                });
            }
            else {
                closeAlert();
            }
                });

            });

                        </script>
                        <script>

                            //CodeBlock
                            var readOnlyCodeMirror = CodeMirror.fromTextArea(document.getElementById('FirstPart'), {
                                mode: "text/x-csharp",
                                theme: "default",
                                lineNumbers: false,
                                readOnly: true,
                                tabSize: 1

                            });

                            var readOnlyCodeMirror2 = CodeMirror.fromTextArea(document.getElementById('LastPart'), {
                                mode: "text/x-csharp",
                                theme: "default",
                                lineNumbers: false,
                                readOnly: true
                            });

                            var editor = CodeMirror.fromTextArea(document.getElementById("CodeBlock"), {
                                lineNumbers: true,
                                matchBrackets: true,
                                mode: "text/x-csharp",
                                compiler: true,
                                hint: true,
                                autohint: true,
                                extraKeys: { "Ctrl-Space": "autocomplete" },
                                theme: "lesser-dark"

                            });





                            $('#myModal1').on('shown', function () {
                                $(".CodeMirror").css({
                                    'height': function () {
                                        return ($(document).height() * .5) + 'px';
                                    }
                                });
                            }).on('hidden', function () {
                                editor3.refresh();
                            })

                            var text = editor.getValue();



                        </script>

</body>

</html>
