@model IEnumerable<YourCourses.Models.Lecture>

@{
    ViewBag.Title = "Index";
}<br><br><br>
<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/style.css">
<h2 class = "animated bounceInLeft">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success animated bounceInLeft" })
</p>
<table class="table table-bordered animated zoomIn">
    <tr>
        <th class="success">
            @Html.DisplayNameFor(model => model.CourseCourseId)
        </th>
        <th class="success">
            @Html.DisplayNameFor(model => model.LectureName)
        </th>
        <th class="active"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LectureName)
        </td>
        <td>
            <div class="btn-group-vertical">
                @Html.ActionLink("Edit", "Edit", new { id = item.LectureId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.LectureId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.LectureId }, new { @class = "btn btn-danger" })
</div>
</td>
    </tr>
}

</table>
